RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.webshp\.ru$
RewriteRule ^/?$ "http\:\/\/webshp\.ru\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^37\.140\.192\.157
RewriteRule (.*) http://www.webshp.ru/$1 [R=301,L]
