#google{
  width: 490px;
  margin: 0 auto 0 auto;
}
#a{
  font-weight: bold;
  font-size: 650%;
  background-color: #fff;
  color: #004BF5;
}
#b{
  font-weight: bold;
  font-size: 650%;
  background-color: #fff;
  color: #F02A39;
}
#c{
  font-weight: bold;
  font-size: 650%;
  background-color: #fff;
  color: #F8AF10;
}
#d{
  font-weight: bold;
  font-size: 650%;
  background-color: #fff;
  color: #004BF5;
}
#e{
  font-weight: bold;
  font-size: 650%;
  background-color: #fff;
  color: #00A513;
}
#f{
  font-weight: bold;
  font-size: 650%;
  background-color: #fff;
  color: #F02A39;
}
