canvas{
      width: 97%;
      margin: 0 1% 0 1%;
      border: double 5px;
      background: url("../img/image8.jpg") 50% 50%;
    }
#game{
      margin-top: 100px;
    }
#zag{
      text-align: center;
      font-size: 2.2em;
      color: #f8a03e;
      background: #fff;
      text-decoration: underline;
    }
li{
      margin-left: 20px;
      font-family: monospace;
      text-align: center;
      list-style-type: none;
    }
button{
      margin-top: 3px;
      background-color: #000;
      color: #fff;
      border: double;
      border-radius: 3px;
      border-color: rgb(96, 200, 204);
    }
