html, body{
  margin: 0;
  height: 100%;
}
body{
  font: 300 1.3em/1.3 "Arial", sans-serif;
}
.bg_img{
  width:100%;
}
.hat div{
  position: absolute;
  width: 100%;
  padding: 1% 0;
  top:30%;
  text-align: center;
  background-color: #f4f4f4;
  background-color: rgba(240,240,240,0.8)
}

.hat{
  position: relative;
  height: 100%;
  background: 50% url("../img/top.jpg");
  background-size: cover;
}

.hat nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(240,240,240);
  background-color: rgba(240,240,240,0.8);
}
.hat nav li{
  display: inline-block;
  margin: 0 2%;

}
.hat nav a{
  display: inline-block;
  padding:10px 0;
  min-width: 150px;
  transition: .5s;
  border-radius: 5px;
  border:2px solid #FFD700;
  color:#FF0000;
  text-decoration: none;
}
.hat nav a:hover{
  background-color: #FFD700;
}



h2{
  margin: 30px;
  font-size: 200%;
  border-bottom: 2px solid #FF0000;
  font-weight: normal;
  padding-bottom: 5px;
}

.block{
  height: 100%;
  padding: 10px 80px;
}
.block3 {
  height: 25%;
  padding: 10px 80px;
}
