BODY
{
background-image:url(pic/fon.jpg);
background-repeat:no-repeat;
}

Li
{
min-width:300px;
font-family:Century Gothic;
border:solid 3px white;
float:left;
border-radius:20px;
margin-left:4px;
transition:color 0.3s ease, background 0.3s ease;
}

.sa
{
margin-left:0px;
}

Li:active
{
color:black!important;
background:white!important;
} 

Li:hover
{
color:black!important;
background:rgba(190,190,190,0.6);
}

.MN li
{
width:260px;
height:60px;
color:rgb(240,240,240);
font-size:300%;
text-align:center;
font-style:bold;
}

.MN
{
margin-top:60px;
}

ul
{
width:1240px;
height:56px;
list-style-type:none;
margin-left:auto;
margin-right:auto;
position: relative;
padding:0;
}
.H2
{
font-size:200%;
margin-top:0;
margin-bottom:0;
}

#Lk
{
color:rgba(255,255,255,0.9);
margin-left:auto;
margin-right:auto;
position: relative;
width:1240px;
text-align:left;
font-size:100%;
font-family:arial;
background:rgba(240,240,240,0.6);
}

HR
{
width:1200px;
margin-left:auto;
margin-right:auto;
margin-top:0;
margin-bottom:0;
position:relative;
}

#p2
{
margin-top:0px;
font-family:arial;
text-align:right;
}

#main
{
color:black;
}