@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);

#toTop {
width:100px;
border:2px solid #000000;
background:#FFFFFF;
text-align:center;
padding:5px;
position:fixed;
bottom:40px; /* отступ кнопки от нижнего края страницы*/
right:20px;
cursor:pointer;
display:none;
color:#333;
font-family:'Comfortaa', cursive;;
font-size:15px;
}

html, body{
margin: 0;
height: 100%;
width:100%;
}

html{
  overflow-x:hidden;
}

h1{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 2.5em;
}

h2{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 2em;
}

h3{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 1.5em;
}

nav{
  width:100%;
  text-align: center;
  display:inline-block;
  font-family: 'Comfortaa', cursive;
}

nav a{
  text-decoration: none;
  color:black;
  margin: 15px;
  font-size: 25px;
  padding: 1px;
}

a{
  transition: all 1s;
}

a:hover{
  font-size:30px;
  font-weight: bolder;
}

.p2 {
  background-image: url("../img/page2.jpg");
  position: relative;
  height: 100%;
  background-size: cover;
  margin:0;
}

.p_2{
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
 }

.p_3{
background-color: rgba(255, 255, 255, 0.4);
padding: 10px;
 }
.main{
   padding: 10px;
 }

.p{
  padding:30px;
  }

.info{
  background-color: white;
}

.about{
  text-align: center;
  color: black;
  font-family: 'Comfortaa', cursive;
  margin-left: 170px;
  margin-right: 170px;
}

hr{
  border: none;
  color: black;
  background-color: black;
  width: 550px;
  height:1.5px;
}

.info img{
  border: 5px solid black;
  padding: 5px;
  margin: 10px;
}

.img{
  display: inline-block;
  padding: 10px;
  -webkit-transition-duration: 0.5s;
  margin: 2px;
  }

.img img{
  width:350px;
  height:200px;
  padding:10px;
  border:1px solid #fff;
}

.img:hover{
  -webkit-transform:scale(0.8);
  -webkit-box-shadow:0px 0px 30px #000000;
}

.end{
  border: none;
  color: black;
  background-color: black;
  width: 750px;
  height:3.5px;
}

footer{
text-align: center;
font-size: 1.3em;
font-weight: bolder;
color: #000000;
font-family: 'Comfortaa', cursive;
padding: 17px;
}
