body{
  font: 1.4em/1.5 sans-serif;
  background-color: #ffdede;
}

@media (min-width: 500px)
{
  body{
    font: 1.5em/1.6 sans-serif;
    background-color: #f1ffde;
  }
}

@media (min-width: 700px)
{
  body{
    font: 1.3em/1.4 sans-serif;
    background-color: #e1ffb9;
  }
}
