canvas{height: 0; width: 100%; transition: all 0.5s;}
.form {width: 80%; margin:auto;}
.form input[type="text"], .form input[type="submit"], .form input[type="reset"]{transition: all 0.2s;}
.form input[type="text"]{background-color:rgb(246, 246, 246); min-width: 100%; font:1em/1.5 sans-serif; border:1px solid rgb(200, 200, 200); border-radius:5px;}
.form input[type="submit"]{display: block;margin: auto; min-width: 200px; font:1em/1.5 sans-serif; border:1px outset rgb(208, 208, 208); border-radius: 10px; background-color:rgb(246, 246, 246);}
.form input[type="submit"]:hover{background-color: #fff;}
.form input[type="submit"]:focus{background-color: #fff; outline: none;}
.form input[type="submit"]:active{border:1px inset rgb(208, 208, 208); }
.i_txt{
  position: relative;
  margin-top: 3em;
}
.i_txt  label{
  transition: ease-out all 0.2s;
}
.i_txt label{
  position: absolute;
  left: 5px;
  top: 3px;
  font-size: 0.8em;
  pointer-events: none;
}
input:valid + label{
  position: absolute;
  top:-1.5em;
}
input[type="text"]:focus + label{
  position: absolute;
  top:-1.5em;
}
input[type="text"]:focus{
  background-color: #fff;
  outline: none;
}
