/* Styles go here */

h1, h2
{
  text-align: center;  
}

h3
{
  margin-top: 30px;
}

main
{
  margin: 100px 7%;
  padding: 0 3%;
  /*border-left: 1px solid #e0e0e0;*/
  /*border-right: 1px solid #e0e0e0;*/
    -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ms-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
}
.hided
{
  opacity:0;
}
.vis
{
  opacity:1;
}
nav, footer
{
  text-align: center;
}

nav
{
  position: fixed;
  width:80%;
  top:0;
  left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}

nav>ol
{
  padding: 0;
  margin: 0;
}
nav li, menu li
{
  list-style: none;
  display: inline-block;
  padding: 10px 0;
  width: 120px;
  margin: 0;
  -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -ms-transition: all 0.8s;
   -o-transition: all 0.8s;
   transition: all 0.8s;
}

nav li a
{
   text-decoration: none;
   color:black;
   
}
nav li:hover
{
  background-color:#ddeedd;
  border-radius:10px;
}
a
{
  /* font-weight: bold; */
  color:#3450a0;
}
footer
{
  margin-top:50px;
}

header
{
  /*border-top: 1px solid #e0e0e0;*/
  margin-top: 60px;
  /*margin-bottom: 0px;*/
  /*border-bottom: 1px solid #e0e0e0;*/
}

h3
{
  margin-top: 50px;
  margin-bottom: 5px;
}


@media all and (max-width: 800px)
{
  body
  {
    font-size: 130%;
  }
  nav {
    width: 96%;
    left: 2%;
    /* display: none; */
  }
  main
  {
    margin: 60px 0;
    padding: 0 10px;
    
  }
}